<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /locations
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /locations/index.html [L]
</IfModule>
